.flexrow {
  display: flex;
  flex-direction: row;
}
.flexcol {
  display: flex;
  flex-direction: column;
}
.block {
  display: block;
}
.upper {
  text-transform: uppercase;
}
@font-face {
  font-family: lato;
  src: url("../fonts/lato-regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  font-family: lato, arial, sans-serif;
}
.main-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom: 1px solid #b9b9b9;
  background-color: #fff;
}
.main-header-logo {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.main-header-logo-img {
  width: 58px;
}
.main-header-conteiner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 980px;
  margin: 15px auto;
}
.main-header-conteiner-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
.main-header-account-btn {
  display: block;
  position: relative;
  height: 35px;
  width: 120px;
  background-color: #f16d7f;
  font-size: 15px;
  color: #fff;
  box-sizing: border-box;
  border: 1px solid #f16d7f;
  border-radius: 4px;
  outline: none;
}
.main-header-account-btn:hover {
  background-color: #e21632;
  border: 1px solid #e21632;
}
.main-header-account-btn:active {
  border: 1px solid #f16d7f;
  background-color: #fff;
  color: #f16d7f;
}
.main-header-logo-brand {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 27px;
  color: #4d4d4d;
}
.main-header-logo-brand-letter {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 27px;
  color: #4d4d4d;
  color: #f16d7f;
}
.main-header-account-btn::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 6px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top: 5px solid #fff;
}
.main-header-account-btn::after:active {
  border-top: 5px solid #f16d7f;
}
.search,
.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.search-form {
  margin-left: 50px;
}
.search-form-browse,
.search-form-input,
.search-form-submit {
  height: 35px;
  border: 1px solid #b9b9b9;
  box-sizing: border-box;
}
.search-form-browse {
  width: 80px;
  font-size: 14px;
  color: #4d4d4d;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  background-color: #b9b9b9;
  outline: none;
}
.search-form-browse .browse-word {
  display: block;
  position: relative;
  height: auto;
  margin-right: 10px;
}
.search-form-browse .browse-icon {
  color: #4d4d4d;
  text-align: center;
  height: 8px;
}
.search-form-browse:hover {
  background-color: #ececec;
}
.search-form-browse:active {
  border: 1px solid #4d4d4d;
  background-color: #4d4d4d;
  color: #fff;
}
.browse-word::after {
  content: "";
  position: absolute;
  top: 9px;
  right: -5px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top: 5px solid #4d4d4d;
}
.search-form-input {
  width: 260px;
}
.search-form-submit {
  height: 35px;
  width: 35px;
  margin-left: -1px;
  font-size: 16px;
  color: #b9b9b9;
  background-color: #fff;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  outline: none;
}
.search-form-submit:hover {
  background-color: #b9b9b9;
  outline: none;
  color: #fff;
}
.search-form-submit:active {
  border: 1px solid #4d4d4d;
  background-color: #4d4d4d;
  color: #fff;
  outline: none;
}
.account-btn-conteiner {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  width: 35%;
}
.account-btn-conteiner label {
  display: none;
}
.user-icon {
  display: block;
  width: 45px;
  height: 45px;
  text-align: center;
  text-decoration: none;
  color: #4d4d4d;
  visibility: hidden;
}
.user-icon-img {
  color: #4d4d4d;
}
.user-icon:hover {
  background-color: #b9b9b9;
}
.user-icon:active {
  background-color: #ececec;
}
.cart-img {
  display: block;
  width: 100%;
  padding-right: 15px;
  color: #4d4d4d;
  font-size: 42px;
}
.cart-img:hover {
  color: #b9b9b9;
}
.cart-img:active {
  color: #ececec;
}
.cart-img-ref {
  display: block;
  position: relative;
  text-decoration: none;
}
.cart-img-ref:hover {
  cursor: pointer;
}
#cart-item-amount {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  top: 0;
  left: 30px;
  background-color: red;
  width: 18px;
  height: 18px;
  border-radius: 15px;
  color: #fff;
  text-align: center;
  margin: auto auto;
}
#cart-mini {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
  flex-wrap: nowrap;
  top: 54px;
  left: -20px;
  position: absolute;
  z-index: 3;
  width: 250px;
  height: auto;
  border-radius: 4px;
  border: 1px solid #b9b9b9;
  background-color: #fff;
  padding: 12px 10px 5px 10px;
}
.cart-mini {
  visibility: hidden;
}
.pointer {
  width: 20px;
  height: 20px;
  top: 43px;
  left: 12px;
  position: absolute;
  border-radius: 5px;
  border-top: 1px solid #b9b9b9;
  border-left: 1px solid #b9b9b9;
  background-color: #fff;
  transform: rotate(45deg);
  z-index: 4;
  visibility: hidden;
}
.show {
  visibility: visible;
}
.cart-mini-item-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding-bottom: 5px;
  margin-top: 5px;
  border-bottom: 1px solid #b9b9b9;
}
.cart-mini-item-wrapper > div {
  margin-left: 10px;
}
.checkout-btn,
.go-to-cart-btn {
  width: 100%;
  height: 40px;
  margin: 5px auto;
  text-transform: uppercase;
  background-color: #fff;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}
.checkout-btn {
  color: #f16d7f;
  border: 1px solid #f16d7f;
}
.checkout-btn:hover {
  color: #fff;
  background-color: #f16d7f;
}
.go-to-cart-btn {
  color: #4d4d4d;
  border: 1px solid #b9b9b9;
}
.go-to-cart-btn:hover {
  color: #fff;
  background-color: #b9b9b9;
}
.total-sum {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  text-transform: uppercase;
}
.navigation {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  background-color: #fff;
  -webkit-box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.18);
  -moz-box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.18);
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.18);
}
.navigation-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  list-style-type: none;
  box-sizing: border-box;
  position: relative;
}
.navigation-menu li {
  padding: 18px 0;
  font-weight: bold;
  box-sizing: border-box;
}
.navigation-menu li:hover {
  border-bottom: 3px solid red;
}
.navigation-mobile {
  display: none;
}
.navigation-menu-item {
  display: block;
  font-size: 14px;
  color: #4d4d4d;
  font-weight: 900;
  text-decoration: none;
  box-sizing: border-box;
  text-transform: uppercase;
  margin: 0 15px;
}
.navigation-menu-submenu {
  position: absolute;
  top: 45px;
  background-color: #fff;
}
.navigation-menu-submenu > li {
  list-style: none;
  -webkit-box-shadow: -4px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -4px 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: -4px 1px 2px 0px rgba(0, 0, 0, 0.1);
}
.show {
  display: inline-block;
}
.hide {
  display: none;
}
.burger-menu {
  display: block;
  margin-left: 5px;
  display: none;
}
.burger__item {
  width: 37px;
  height: 45px;
}
.burger__item {
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease;
}
.burger__item-line {
  position: absolute;
  top: 1.35rem;
}
.burger__item-line:after,
.burger__item-line:before {
  content: "";
  position: absolute;
  transition: all 0.5s ease;
}
.burger__item-line:before {
  top: -12px;
}
.burger__item-line:after {
  bottom: -12px;
}
.burger__item-line,
.burger__item-line:after,
.burger__item-line:before {
  width: 39px;
  height: 6px;
  background: #4d4d4d;
  border-radius: 5px;
}
@media (max-width: 992px) {
  .main-header-account-btn,
  .main-header-logo-brand,
  .main-header-logo-brand-letter,
  .navigation,
  .navigation-menu,
  .navigation-menu li,
  .navigation-menu-item,
  .search-form-browse,
  .search-form-input {
    display: none;
  }
  .navigation {
    width: auto;
    margin: auto;
    box-sizing: border-box;
    background-color: #fff;
    position: absolute;
    left: 520px;
    top: 53px;
    z-index: 3;
    visibility: hidden;
  }
  .navigation-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    list-style-type: none;
    box-sizing: border-box;
    padding: 0;
  }
  .navigation-menu li {
    padding: 5px 0;
    font-weight: bold;
    box-sizing: border-box;
    width: 100%;
  }
  .navigation-menu li:hover {
    border-bottom: 3px solid red;
  }
  .navigation-menu-item {
    display: inline-block;
    font-size: 11px;
    color: #4d4d4d;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 10px;
  }
  .account-btn-conteiner label {
    display: block;
  }
  .navigation-mobile {
    display: block;
    visibility: hidden;
  }
  .navigation-mobile:checked ~ .navigation {
    visibility: visible;
    box-shadow: none;
  }
  .navigation-mobile:checked ~ .navigation {
    visibility: visible;
    box-shadow: none;
  }
  .main-header,
  .main-header-conteiner {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    border-bottom: none;
    box-shadow: none;
  }
  .main-header-conteiner-mobile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    width: auto;
  }
  .search-form {
    margin-left: 0;
  }
  .main-header-logo-img {
    background-color: #4d4d4d;
    width: 52px;
    height: auto;
  }
  .search-form-submit {
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: bold;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 45px;
    height: 45px;
  }
  .search-form {
    border-radius: none;
  }
  .account-btn-conteiner {
    width: auto;
    height: 45px;
  }
  .cart-img-ref {
    display: block;
    width: 45px;
    height: 45px;
    background-color: #4d4d4d;
  }
  .cart-img-ref:hover {
    background-color: #fff;
    color: #4d4d4d;
  }
  .cart-img-ref:active {
    color: #b9b9b9;
  }
  .cart-img {
    display: block;
    padding-right: 5px;
    color: #fff;
    font-size: 43px;
  }
  .cart-img:hover {
    color: #b9b9b9;
  }
  .cart-img:active {
    color: #868686;
  }
  .cart-img::after {
    display: block;
    position: absolute;
    right: 2px;
  }
  .user-icon {
    display: block;
    visibility: visible;
    width: 45px;
    height: 45px;
  }
  .user-icon-img {
    text-align: center;
    line-height: 51px;
    padding: 0 10px;
  }
  .burger-menu {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    visibility: visible;
  }
  .burger-menu::before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 45px;
    border-top-left-radius: 4px;
    background-color: #fff;
    z-index: 0;
    transform: rotate(45deg);
    visibility: hidden;
  }
}
.arrivals-conteiner {
  background-color: #f8f3f4;
  width: 100%;
}
.arrivals {
  padding: 55px 0;
  width: 980px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  box-sizing: border-box;
}
.arrivals_new {
  font-size: 24px;
  text-transform: uppercase;
  color: #f16d7f;
}
.breadcrumbs {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.breadcrumbs_item {
  list-style-type: none;
  margin: auto 5px;
  font-size: 14px;
}
.arrivals li:not(:first-child)::before {
  content: "/";
  font-weight: bold;
  margin-right: 10px;
}
.breadcrumbs_item_a {
  text-decoration: none;
  text-transform: uppercase;
  color: #4d4d4d;
}
.breadcrumbs_item_a:hover {
  text-decoration: underline;
  font-weight: bold;
}
.active {
  color: #f16d7f;
  text-transform: uppercase;
}
.subscribe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}
.subscribe .subscribe-logo-form-conteiner {
  width: 980px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.subscribe .subscribe-brand-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 40%;
  margin-left: 10%;
  margin-bottom: 40px;
  display: none;
}
.subscribe .subscribe-brand-logo img {
  margin: 10px;
}
.subscribe-conteiner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  background-image: url("../img/background-footer-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #e5e5e5;
  background-position: 100% auto;
  width: 100%;
}
.subscribe-img {
  display: block;
  height: 83px;
  width: 83px;
}
.subscribe-quote {
  display: inline-block;
  font-size: 14px;
  color: #4d4d4d;
  font-style: italic;
}
.subscribe-quote-who {
  margin-top: 20px;
  display: block;
  height: auto;
  font-size: 14px;
  color: #f16d7f;
  font-style: normal;
}
.subscribe-quote-from {
  display: block;
  height: auto;
  font-size: 12px;
  color: #4d4d4d;
  font-style: normal;
}
.subscribe-form {
  position: relative;
  background-color: transparent;
  top: 266px;
  left: 500px;
  width: 50%;
}
.subscribe-form::before {
  content: "";
  position: absolute;
  top: -160px;
  z-index: 1;
  width: 1px;
  height: 369px;
  border-left: 1px solid #bcbcbc;
}
.subscribe-form span {
  text-align: center;
}
.subscribe-form-title {
  display: block;
  height: auto;
  text-transform: uppercase;
  font-size: 18px;
  color: #4d4d4d;
}
.subscribe-form-title2 {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  color: #4d4d4d;
  margin-bottom: 30px;
}
.input {
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.subscribe-mail,
.subscribe-submit {
  outline: none;
}
.subscribe-mail {
  box-sizing: border-box;
  margin-right: -4px;
  height: 37px;
  width: 250px;
  padding-left: 15px;
  background-color: #b9b9b9;
  border: 1px solid #b9b9b9;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  font-size: 12px;
  color: #4d4d4d;
}
.subscribe-mail:hover {
  background-color: #ececec;
}
.subscribe-submit {
  box-sizing: border-box;
  border: 1px solid #f16d7f;
  width: 100px;
  height: 37px;
  font-size: 12;
  color: #fff;
  background-color: #f16d7f;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}
.subscribe-submit:hover {
  background-color: #e21632;
}
.subscribe-submit:active {
  background-color: #fff;
  color: #e21632;
}
.footer {
  width: 980px;
  min-height: 100%;
  margin: 0 auto;
  padding-top: 50px;
}
.footer-first-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  min-height: 100%;
}
.footer-first-part-text {
  font-size: 14px;
  color: #4d4d4d;
}
.footer-first-part-text img {
  height: auto;
}
.footer-first-part p {
  margin: 20px auto;
}
.footer-links-head {
  font-size: 15px;
  color: #f16d7f;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
.footer-links-item li {
  list-style-type: none;
  height: auto;
}
.footer-links-item a {
  text-decoration: none;
  font-size: 12px;
  color: #4d4d4d;
  font-weight: 600;
  line-height: 45px;
  text-align: right;
}
.footer-links-item a:hover {
  text-decoration: underline;
}
.foot-footer {
  width: 100%;
  background-color: #b9b9b9;
}
.foot-footer-conteiner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 980px;
  height: 79px;
  margin: 0 auto;
}
.foot-footer-rights {
  display: block;
  height: auto;
  font-size: 11px;
  color: #4d4d4d;
  font-weight: 400;
}
@keyframes share-margin {
  from {
    margin: 0 3px;
  }
  to {
    margin: 0 10px;
  }
}
.foot-footer-share {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 31px;
  margin: auto 0;
}
.foot-footer-share li {
  display: block;
  list-style: none;
  height: 100%;
  width: 31px;
  margin: 0 5px;
  background-color: #fff;
  transition: 0.5s;
}
.foot-footer-share li:hover {
  margin: 0 10px;
  transform: scale(1.2);
}
.foot-footer-share a {
  display: block;
  height: 100%;
  width: 100%;
  color: #4d4d4d;
  text-align: center;
  line-height: 30px;
  transition: 0.9s;
}
.foot-footer-share .social-share:hover {
  background-color: #f16d7f;
  color: #fff;
}
.foot-footer-share .social-share:active {
  background-color: #fff;
  color: #f16d7f;
}
@media (max-width: 992px) {
  .subscribe {
    background-color: transparent;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
  }
  .subscribe-logo-form-conteiner {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 50px;
  }
  .subscribe-form {
    position: inherit;
    order: 1;
    width: 52%;
    margin: 0;
    padding: 0;
  }
  .subscribe-form::before {
    display: none;
  }
  .subscribe-conteiner {
    order: 2;
    width: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: 100% auto;
  }
  .subscribe-brand-logo {
    visibility: visible !important;
    display: block !important;
    margin-left: 100px;
  }
  .subscribe-carousel-conteiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .footer-first-part {
    width: 100%;
    justify-content: center;
  }
  .foot-footer-conteiner {
    justify-content: space-around;
    width: 100%;
  }
  .foot-footer {
    width: 100%;
  }
  .footer-first-part-text {
    font-size: 13px;
    margin-right: 40px;
  }
  .footer-links-item {
    margin: 0 25px;
  }
  .foot-footer-rights {
    margin-right: 250px;
  }
  .carousel-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 15px 8px 15px 0;
  }
  .carousel-item {
    width: 686px;
    margin: 0 auto;
  }
  .carousel-item-wrapper {
    margin: 55px 0;
  }
  .subscribe-img {
    height: 80px;
    width: 80px;
    margin: 0 auto;
  }
  .subscribe-quote {
    display: block;
    width: inherit;
    margin: 0 auto;
    font-size: 16px;
    color: #4d4d4d;
    line-height: 20px;
    font-style: italic;
    text-align: center;
  }
  .subscribe-quote-who {
    margin-top: 10px;
    display: block;
    height: auto;
    font-size: 16px;
    color: #f16d7f;
    font-style: normal;
    text-align: center;
    line-height: 15px;
  }
  .subscribe-quote-from {
    display: block;
    height: auto;
    font-size: 14px;
    color: #4d4d4d;
    font-style: normal;
    text-align: center;
    line-height: 15px;
  }
}
@font-face {
  font-family: lato;
  src: url("../fonts/Lato-Regular.ttf");
}
.product-card {
  width: 224px;
  position: relative;
  margin: 15px 5px;
}
.product-card-main-img {
  display: block;
  width: inherit;
  height: auto;
}
.product-card a {
  display: block;
}
.product-card span {
  display: block;
  margin-left: 10px;
}
.product-card-darken {
  position: absolute;
  z-index: 1;
  top: 0;
  width: inherit;
  height: 240px;
  background-color: black;
  opacity: 0.5;
  visibility: hidden;
}
.product-name {
  text-transform: uppercase;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 12px;
  color: #4d4d4d;
  font-weight: bold;
}
.product-price {
  text-transform: uppercase;
  font-size: 14px;
  color: #f16d7f;
  margin-bottom: 8px;
  margin-left: 10px;
  font-weight: bold;
}
.product-card-icon {
  position: absolute;
  visibility: hidden;
  z-index: 2;
  height: 39px;
  width: auto;
}
.cart-add {
  top: 88px;
  left: 53px;
}
.cart-continue {
  top: 134px;
  left: 53px;
}
.cart-favourite {
  top: 134px;
  left: 120px;
}
.product-card:hover {
  margin-top: -5px;
  -webkit-box-shadow: 2px 2px 15px 10px #b9b9b9;
  -moz-box-shadow: 2px 2px 15px 10px #b9b9b9;
  box-shadow: 2px 2px 15px 10px #b9b9b9;
  filter: opacity(125%);
  transition: 0.3s;
}
.product-card:hover > .product-card-darken {
  visibility: visible;
}
.product-card:hover a {
  visibility: visible;
}
.product-card a:hover {
  cursor: pointer;
  background-color: #868686;
}
.main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
#all-comments {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 50px;
  color: #4d4d4d;
  font-size: 24px;
}
#all-comments > p {
  text-transform: uppercase;
}
.feedback {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 50px;
}
.feedback-input {
  height: 40px;
  width: 390px;
  margin: 10px 0;
  padding-left: 20px;
  border: 1px solid #b9b9b9;
  outline: none;
}
.feedback > textarea {
  width: 390px;
  min-height: 100px;
  padding: 10px;
  outline: none;
}
.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: nowrap;
}
.button-group > button {
  width: 200px;
  margin-top: 10px;
  height: 40px;
  text-transform: uppercase;
}
#search {
  position: absolute;
  top: 300px;
  left: 469px;
  border: 1px solid #919198;
  width: 320px;
  max-height: 300px;
  overflow-y: scroll;
  display: none;
  -webkit-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  -webkit-box-shadow: 2px 3px 5px 1px rgba(170, 170, 170, 0.9);
  box-shadow: 2px 3px 5px 1px rgba(170, 170, 170, 0.9);
  background-color: #fff;
}
.search-item {
  padding-left: 20px;
}
.search-item:hover,
.search-item:focus {
  cursor: pointer;
  background-color: #cacbd6;
}
.active-search-city {
  background-color: #cacbd6;
}
#reset {
  margin-left: 12px;
}
.error {
  border: 2px solid red;
}
#phone,
#city,
#birth {
  display: none;
}
.feedback-city-wrapper {
  position: relative;
}
